### Challenge 1 - Passing a Lambda Expression to a Function

In the next excercise you will create a function that returns a lambda expression. Create a function called modify_list. The function takes two arguments, a list and a lambda expression. The function iterates through the list and applies the lambda expression to every element in the list.

In [10]:
l = [1, 2, 3, 4, 5]
fudduLambda = lambda y: y+5
b = []
def modify_list(lst, fudduLambda):
    for x in lst:
        b.append(fudduLambda(x))

modify_list(l, fudduLambda)
print(b)

[6, 7, 8, 9, 10]

Now we will define a lambda expression that will transform the elements of the list.

In the cell below, create a lambda expression that converts Celsius to Kelvin. Recall that 0Â°C + 273.15 = 273.15K

In [11]:
kelvin = lambda i: i + 273.15
celsius = []

for i in l:
    celsius.append(kelvin(i))
    
celsius

[274.15, 275.15, 276.15, 277.15, 278.15]

Finally, convert the list of temperatures below from Celsius to Kelvin.

In [12]:
temps = [12, 23, 38, -55, 24]

kelvin_2 = lambda i: i + 273.15
kelvin_temp = []

for i in temps:
    kelvin_temp.append(kelvin_2(i))
    
kelvin_temp

[285.15, 296.15, 311.15, 218.14999999999998, 297.15]

In this part, we will define a function that returns a lambda expression

In the cell below, write a lambda expression that takes two numbers and returns 1 if one is divisible by the other and zero otherwise. Call the lambda expression mod.

In [13]:
mod = lambda a,b: 1 if (a%b == 0) or (b%a == 0) else 0
mod(10, 4)

0

Now create a function that returns mod. The function only takes one argument - the first number in the mod lambda function.

Note: the lambda function above took two arguments, the lambda function in the return statement only takes one argument but also uses the argument passed to the function.

In [14]:
def divisor(b):
    c = float(input("Insert a number: "))
    return mod(b, c)

In [15]:
divisor(6)

Insert a number: 4

0

Finally, pass the number 5 to divisor. Now the function will check whether a number is divisble by 5. Assign this function to divisible5.

In [16]:
divisor(5)

Insert a number: 56

0

In [17]:
def divisible5():
    return divisor(5)

Test your function with the following test cases:

In [18]:
divisible5()

Insert a number: 41

0

In [19]:
divisible5()

Insert a number: 45

1

### Challenge 2 - Using Lambda Expressions in List Comprehensions

In the following challenge, we will combine two lists using a lambda expression in a list comprehension.

To do this, we will need to introduce the zip function. The zip function returns an iterator of tuples.

The way zip function works with list has been shown below:

In [25]:
list1 = ['Green', 'cheese', 'English', 'tomato']
list2 = ['eggs', 'cheese', 'cucumber', 'tomato']
zipped = zip(list1,list2)
list(zipped)

[('Green', 'eggs'),
 ('cheese', 'cheese'),
 ('English', 'cucumber'),
 ('tomato', 'tomato')]

In this exercise we will try to compare the elements on the same index in the two lists. We want to zip the two lists and then use a lambda expression to compare if: list1 element > list2 element

In [29]:
list1 = [1,2,3,4]
list2 = [2,3,4,5]
zipped_2 = zip(list1, list2)
list(zipped_2)

[(1, 2), (2, 3), (3, 4), (4, 5)]

In [37]:
compare = lambda elem1, elem2:  True if elem1 > elem2 else False

for i, j in zip(list1, list2):
    compared = compare(i, j)
    print(compared)

False
False
False
False

### Challenge 3 - Using Lambda Expressions as Arguments

In this challenge, we will zip together two lists and sort by the resulting tuple.
In the cell below, take the two lists provided, zip them together and sort by the first letter of the second element of each tuple. Do this using a lambda function.

In [41]:
list1 = ['Engineering', 'Computer Science', 'Political Science', 'Mathematics']
list2 = ['Lab', 'Homework', 'Essay', 'Module']
zipped_3 = zip(list1, list2)
list(zipped_3)

[('Engineering', 'Lab'),
 ('Computer Science', 'Homework'),
 ('Political Science', 'Essay'),
 ('Mathematics', 'Module')]

In [44]:
second_elem = lambda x: x[-1]
sorted(zip(list1, list2), key=second_elem)

[('Political Science', 'Essay'),
 ('Computer Science', 'Homework'),
 ('Engineering', 'Lab'),
 ('Mathematics', 'Module')]

### Bonus Challenge - Sort a Dictionary by Values

Given the dictionary below, sort it by values rather than by keys. Use a lambda function to specify the values as a sorting key.

In [55]:
d = {'Honda': 1997, 'Toyota': 1995, 'Audi': 2001, 'BMW': 2005}

In [57]:
type(d)

dict

In [97]:
## Sorted by keys by default

print(sorted(d.keys()))
print((sorted(d.values())))
print(sorted(d.items()))

['Audi', 'BMW', 'Honda', 'Toyota']
[1995, 1997, 2001, 2005]
[('Audi', 2001), ('BMW', 2005), ('Honda', 1997), ('Toyota', 1995)]

In [98]:
## Sorted by values with lambda function

values = lambda x: x[1]
sorted(d.items(), key=values)

[('Toyota', 1995), ('Honda', 1997), ('Audi', 2001), ('BMW', 2005)]